.navbar {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
    padding-right: 3rem;
    font-size: 25px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.user--message{
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    color: #ced4da;
    padding-right: 3rem;
}
.navbar__link {
    color: #ced4da;
}